services:
 mongodb:
  build: ../mongodb
  image: chakradhar05/mongodb:v1
  container_name: mongodb
  volumes:  #This option for persistent storage, used docker created volume
    - mongodb:/data/db
 catalogue:
  build: ../catalogue
  image: chakradhar05/catalogue:v1
  container_name: catalogue
 redis:
  build: ../redis
  image: redis:7
  container_name: redis
  volumes: # volumes first created and then mounted
    - redis:/data
 mysql:
  build: ../mysql
  image: chakradhar05/mysql:v1
  container_name: mysql
  volumes:
    - mysql:/var/lib/mysql
 rabbitmq:
  build: ../rabbitmq
  image: rabbitmq:3
  container_name: rabbitmq
  environment:
   RABBITMQ_DEFAULT_USER: roboshop
   RABBITMQ_DEFAULT_PASS: roboshop123
  volumes:  #This is equal to -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
 user:
  build: ../user
  image: chakradhar05/users:v1
  container_name: user
  depends_on:
  - mysql
  - mongodb
 cart:
  build: ../cart
  image: chakradhar05/cart:v1
  container_name: cart
  depends_on:
  - redis
  - catalogue
 shipping:
  build: ../shipping
  image: chakradhar05/shipping:v1
  container_name: shipping
  depends_on: 
  - mysql
  - cart
 payment:
  build: ../payment
  image: chakradhar05/payment:v1
  container_name: payment
  depends_on:
  - rabbitmq
  - cart
  - user
 frontend:
  build: ../frontend
  image: chakradhar05/frontend:v1
  container_name: frontend
  ports:
    - 80:80
  depends_on:
  - catalogue
  - cart
  - shipping
  - payment
  - user
networks:
   default:
    driver: bridge
    name: roboshop
    external: false # the network will be created by docker compose
                 #true - Docker compose will not create if externally created.
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:
# docker compose up
# docker compose down
#   Running 11/11
#  ✔ Network roboshop     Created                                                                                                                         0.1s
#  ✔ Container rabbitmq   Started                                                                                                                         1.4s
#  ✔ Container catalogue  Started                                                                                                                         1.4s
#  ✔ Container mongodb    Started                                                                                                                         1.4s
#  ✔ Container mysql      Started                                                                                                                         1.4s
#  ✔ Container redis      Started                                                                                                                         1.1s
#  ✔ Container user       Started                                                                                                                         1.6s
#  ✔ Container cart       Started                                                                                                                         1.8s
#  ✔ Container shipping   Started                                                                                                                         2.9s
#  ✔ Container payment    Started                                                                                                                         3.0s
#  ✔ Container frontend   Started   

#  [+] Running 11/11
#  ✔ Container frontend   Removed                                                                                                                         0.1s
#  ✔ Container payment    Removed                                                                                                                         0.1s
#  ✔ Container shipping   Removed                                                                                                                         0.1s
#  ✔ Container rabbitmq   Removed                                                                                                                         0.1s
#  ✔ Container user       Removed                                                                                                                         0.1s
#  ✔ Container cart       Removed                                                                                                                         0.1s
#  ✔ Container mongodb    Removed                                                                                                                         0.1s
#  ✔ Container mysql      Removed                                                                                                                         0.1s
#  ✔ Container redis      Removed                                                                                                                         0.1s
#  ✔ Container catalogue  Removed                                                                                                                         0.1s
#  ✔ Network roboshop     Removed  

